@main_size: 14px;

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-sizing(@size) {
	-webkit-box-sizing: @size;
	-moz-box-sizing: @size;
	box-sizing: @size;
}

.bg_img(@url, @repeat, @size, @position) {
	background-image: url(@url);
	background-repeat: @repeat;
	background-size: @size;
	background-position: @position;
}

.transition(@params) {
	-webkit-transition: @params;
	-moz-transition: @params;
	-ms-transition: @params;
	-o-transition: @params;
	transition: @params;
}

* {
	margin: 0;
	padding: 0;
	.box-sizing (content-box);
}

ul, ol {list-style: none;}

html, body {
	height: 100%;
	font-family: Verdana;
	font-size: @main_size;
	line-height: 0;
	color: #000;
}

.basic_font {
	font-weight: normal;
	font-size: 1em;
	color: #fff;
	line-height: 1.5;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: #000;
	nav {
		overflow: hidden;
		min-width: 580px;
		max-width: 970px;
		.bg_img("../img/logo.png", no-repeat, auto 40px, left center);
		margin: 0 auto;
		text-align: right;
		.title {
			float: left;
			margin-left: 60px;
			font-weight: bold;
			font-size: 21px * 1em / @main_size;
			color: #fff;
			line-height: 41px;
			span {color: #28B664;}
		}
		ul {
			overflow: hidden;
			float: right;
			margin: 0 auto;
			li {
				float: right;
				padding: 10px 10px;
				a {
					.basic_font;
					font-weight: bold;
					color: #fff;
					text-decoration: none;
					cursor: pointer;
					&:hover {text-decoration: underline;}
				}
			}
		}
	}
}
section {
	width: 100%;
	height: 100%;
}
#block1 {
	overflow: hidden;
	background-color: #323232;
	overflow: hidden;
	display: table;
	width: 100%;
	text-align: center;
	.content {
		overflow: hidden;
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		.text {
			margin-bottom: 30px;
			.basic_font;
			font-size: 35px * 1em / @main_size;
		}
		.button {
			display: inline-block;
			padding: 10px 20px;
			.border-radius(5px);
			background-color: #28B664;
			.basic_font;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}
		.phone,
		.mail {
			width: 200px;
			display: inline-block;
			margin-top: 20px;
			.basic_font;
			text-align: left;
			text-decoration: none;
		}
		.phone {
			cursor: default;
			&:before {
				content: "";
				display: inline-block;
				width: 21px;
				height: 32px;
				margin-left: 3px;
				background-image: url("../img/iphone.png");
				.bg_img("../img/iphone.png", no-repeat, cover, 0 0);
				vertical-align: middle;
				margin-right: 14px;
			}
		}
		.mail {
			&:before {
				content: "";
				display: inline-block;
				width: 29px;
				height: 21px;
				background-image: url("../img/iphone.png");
				.bg_img("../img/mail.png", no-repeat, cover, 0 0);
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}
}
#block2 {
	overflow: hidden;
	display: table;
	.content {
		overflow: hidden;
		display: table-cell;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		.services {
			overflow: hidden;
			h1 {
				margin-bottom: 20px;
				font-weight: bold;
				font-size: 35px * 1em / @main_size;
				color: #000;
				line-height: 1.5;
			}
			.item_wrap {
				display: inline-block;
				vertical-align: middle;
				&:nth-child(2) {
					img {
						width: 124px;
						margin-bottom: 10px;
					}
				}
				&:nth-child(3) {
					img {
						width: 80px;
						margin: 40px 0 50px;
					}
				}
				&:nth-child(4) {
					img {
						width: 200px;
						margin: 46px 0 30px;
					}
				}
				&:nth-child(5) {
					img {
						width: 200px;
						margin: 27px 0 10px;
					}
				}
				&:nth-child(6) {
					img {
						width: 200px;
						margin: 47px 0 36px;
					}
				}
				&:last-child {
					img {
						width: 60px;
						margin: 47px 0 40px;
					}
				}
				.item {
					width: 330px;
					margin: 0 auto;
					.text {
						.basic_font;
						font-weight: bold;
						color: #000;
						margin: 0 20px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
#block3 {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	.content {
		display: table-cell;
		overflow: hidden;
		max-width: 970px;
		vertical-align: middle;
		text-align: center;
		h1 {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 35px * 1em / @main_size;
			color: #000;
			line-height: 1.5;
		}
		.item {
			display: inline-block;
			width: 300px;
			height: 220px;
			margin: 0 15px 30px;
			.top {
				display: table;
				width: 100%;
				height: 70%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				&:hover {
					.layout {display: table-cell;}
				}
				.layout {
					display: none;
					width: 100%;
					height: 100%;
					background-color: fade(#28B664, 40%);
					text-align: center;
					vertical-align: middle;
					a {

						display: inline-block;
						padding: 10px 20px;
						margin: auto;
						.border-radius(5px);
						background-color: #28B664;
						.basic_font;
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
					}
				}
			}
			.bottom {
				display: table;
				width: 100%;
				height: 30%;
				.wrapA {
					display: table-cell;
					background-color: #999;
					text-align: center;
					vertical-align: middle;
					a {
						margin: 0 15px;
						color: #000;
						line-height: 1.5;
						text-decoration: underline;
						&:hover {text-decoration: none;}
					}
				}
			}
		}
	}
}
#block4 {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;
	background-color: #323232;
	.content {
		display: table-cell;
		overflow: hidden;
		max-width: 970px;
		vertical-align: middle;
		text-align: center;
		h1 {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 35px * 1em / @main_size;
			color: #fff;
			line-height: 1.5;
		}
		.wrap {
			display: inline-block;
			text-align: left;
			ul {
				li {
					.basic_font;
					font-size: 21px * 1em / @main_size;
					color: #fff;
					&:before {
						content: "";
						display: inline-block;
						width: 28px;
						height: 26px;
						vertical-align: middle;
						.bg_img("../img/check_mark.png", no-repeat, contain, center center);
						margin-right: 10px;
					}
				}
			}
		}
	}
}
#block5 {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;
	background-color: #fff;
	.content {
		display: table-cell;
		overflow: hidden;
		max-width: 970px;
		vertical-align: middle;
		text-align: center;
		h1 {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 35px * 1em / @main_size;
			color: #000;
			line-height: 1.5;
		}
		.wrap {
			display: inline-block;
			text-align: left;
			ul {
				overflow: hidden;
				li {
					float: left;
					padding: 15px 0;
					&:nth-child(odd) {
						width: 160px;
						div:first-child {text-align: center;}
						div:last-child {
							.basic_font;
							color: #000;
							text-align: center;
						}
					}
					&:nth-child(even) {
						position: relative;
						width: 50px;
						height: 136px;
						img {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
							&:first-child {width: 50px;}
							&:last-child {
								display: none;
								height: 50px;
							}
						}
					}
				}
			}
		}
	}
}