* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
ul,
ol {
  list-style: none;
}
html,
body {
  height: 100%;
  font-family: Verdana;
  font-size: 14px;
  line-height: 0;
  color: #000;
}
.basic_font {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #000;
}
header nav.desktop {
  overflow: hidden;
  min-width: 850px;
  max-width: 940px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 15px center;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}
header nav.desktop .title {
  float: left;
  margin-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  line-height: 41px;
}
header nav.desktop .title span {
  color: #28B664;
}
header nav.desktop ul {
  overflow: hidden;
  float: right;
  margin: 0 auto;
}
header nav.desktop ul li {
  float: right;
  padding: 10px 10px;
}
header nav.desktop ul li a {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
header nav.desktop ul li a:hover {
  text-decoration: underline;
}
header nav.mobile {
  display: none;
  position: relative;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 15px center;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}
header nav.mobile .title {
  float: left;
  margin-left: 60px;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  line-height: 41px;
}
header nav.mobile .title span {
  color: #28B664;
}
header nav.mobile .menu {
  height: 20px;
  margin-top: 11px;
  cursor: pointer;
}
header nav.mobile ul {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 41px;
  width: 100%;
  height: 0;
  background-color: #000;
  text-align: center;
}
header nav.mobile ul li {
  display: block;
  padding: 10px 10px;
  border-top: 1px solid #999;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header nav.mobile ul li:hover {
  background-color: #999;
}
header nav.mobile ul li a {
  display: block;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
section {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
}
section .content {
  overflow: hidden;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
#block1 {
  background-color: #323232;
  text-align: center;
}
#block1 .content .text {
  margin: 0 15px 30px;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-size: 2.5em;
}
#block1 .content .button {
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #28B664;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#block1 .content .button:hover {
  background-color: #23a159;
}
#block1 .content .phone,
#block1 .content .mail {
  width: 200px;
  display: inline-block;
  margin-top: 20px;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}
#block1 .content .phone {
  cursor: default;
}
#block1 .content .phone:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 32px;
  margin-left: 3px;
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  vertical-align: middle;
  margin-right: 14px;
}
#block1 .content .mail:before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 21px;
  background-image: url("../img/iphone.png");
  background-image: url("../img/mail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  vertical-align: middle;
  margin-right: 10px;
}
#block2 .content .services {
  overflow: hidden;
}
#block2 .content .services h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5em;
  color: #000;
  line-height: 1.5;
}
#block2 .content .services .item_wrap {
  display: inline-block;
  vertical-align: middle;
}
#block2 .content .services .item_wrap:nth-child(2) img {
  width: 124px;
  margin-bottom: 10px;
}
#block2 .content .services .item_wrap:nth-child(3) img {
  width: 80px;
  margin: 40px 0 50px;
}
#block2 .content .services .item_wrap:nth-child(4) img {
  width: 200px;
  margin: 46px 0 30px;
}
#block2 .content .services .item_wrap:nth-child(5) img {
  width: 200px;
  margin: 27px 0 10px;
}
#block2 .content .services .item_wrap:nth-child(6) img {
  width: 200px;
  margin: 47px 0 36px;
}
#block2 .content .services .item_wrap:last-child img {
  width: 60px;
  margin: 47px 0 40px;
}
#block2 .content .services .item_wrap .item {
  width: 330px;
  margin: 0 auto;
}
#block2 .content .services .item_wrap .item .text {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  margin: 0 20px;
  text-transform: uppercase;
}
#block3 {
  background-color: #ccc;
}
#block3 .content h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5em;
  color: #000;
  line-height: 1.5;
}
#block3 .content .item {
  display: inline-block;
  width: 300px;
  height: 220px;
  margin: 0 15px 30px;
}
#block3 .content .item .top {
  display: table;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#block3 .content .item .top:hover .layout {
  display: table-cell;
}
#block3 .content .item .top .layout {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 182, 100, 0.4);
  text-align: center;
  vertical-align: middle;
}
#block3 .content .item .top .layout a {
  display: inline-block;
  padding: 10px 20px;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #28B664;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#block3 .content .item .top .layout a:hover {
  background-color: #23a159;
}
#block3 .content .item .bottom {
  display: table;
  width: 100%;
  height: 30%;
}
#block3 .content .item .bottom .wrapA {
  display: table-cell;
  background-color: #999;
  text-align: center;
  vertical-align: middle;
}
#block3 .content .item .bottom .wrapA a {
  margin: 0 15px;
  color: #000;
  line-height: 1.5;
  text-decoration: underline;
}
#block3 .content .item .bottom .wrapA a:hover {
  text-decoration: none;
}
#block4 {
  background-color: #323232;
}
#block4 .content {
  max-width: 970px;
}
#block4 .content h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;
  line-height: 1.5;
}
#block4 .content .wrap {
  display: inline-block;
  margin: 0 15px;
  text-align: left;
}
#block4 .content .wrap ul li {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  font-size: 1.5em;
  color: #fff;
}
#block4 .content .wrap ul li:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 26px;
  vertical-align: middle;
  background-image: url("../img/check_mark.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 10px;
}
#block5 {
  padding: 50px 0 30px;
  background-color: #ccc;
}
#block5 .content {
  max-width: 970px;
}
#block5 .content h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5em;
  color: #000;
  line-height: 1.5;
}
#block5 .content .wrap {
  display: inline-block;
  text-align: center;
}
#block5 .content .wrap span {
  overflow: hidden;
  display: inline-block;
  padding: 15px 0;
  vertical-align: top;
}
#block5 .content .wrap span:nth-child(odd) {
  width: 160px;
}
#block5 .content .wrap span:nth-child(odd) div:last-child {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  color: #000;
}
#block5 .content .wrap span:nth-child(even) {
  position: relative;
  width: 50px;
  height: 136px;
}
#block5 .content .wrap span:nth-child(even) img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#block5 .content .wrap span:nth-child(even) img:first-child {
  width: 50px;
}
#block5 .content .wrap span:nth-child(even) img:last-child {
  display: none;
  height: 50px;
}
#block6 {
  position: relative;
  padding: 50px 0 60px;
  background-color: #fff;
}
#block6 .content {
  max-width: 970px;
}
#block6 .content h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5em;
  color: #000;
  line-height: 1.5;
}
#block6 .content form {
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto 80px;
}
#block6 .content form .left_block {
  float: left;
  width: 49%;
}
#block6 .content form .right_block {
  float: right;
  width: 49%;
}
#block6 .content form label {
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
}
#block6 .content form input,
#block6 .content form textarea {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Verdana;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  color: #000;
}
#block6 .content form input:focus,
#block6 .content form textarea:focus {
  outline: none;
}
#block6 .content form input:-webkit-autofill,
#block6 .content form textarea:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #000 !important;
  color: #000 !important;
}
#block6 .content form input {
  width: 80%;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 10px;
}
#block6 .content form textarea {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  min-height: 136px;
  padding: 10px;
  margin-bottom: 10px;
}
#block6 .content form .error {
  border: 1px solid #ed4c43!important;
  background-color: #fce9ea!important;
}
#block6 .content form .note {
  clear: both;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  color: #000;
  font-size: 0.85714286em;
}
#block6 .content form button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #28B664;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#block6 .content form button:hover {
  background-color: #23a159;
}
#block6 .content form button:focus {
  outline: none;
}
#block6 .content form .send {
  margin-top: 20px;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  color: #000;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#block6 footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #323232;
  text-align: center;
}
#block6 footer span {
  display: inline-block;
  padding: 0 15px;
  margin: 10px 0;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  font-size: 12px;
  color: #666;
}
@media screen and (max-width: 849px) {
  header nav.desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
  }
}
@media screen and (min-width: 630px) {
  #block1 {
    min-height: 370px;
  }
}
@media screen and (min-width: 370px) and (max-width: 629px) {
  #block1 {
    min-height: 410px;
  }
}
@media screen and (max-width: 369px) {
  #block1 {
    min-height: 380px;
  }
  #block1 .content .text {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1030px) {
  #block2 {
    min-height: 610px;
  }
}
@media screen and (min-width: 690px) and (max-width: 1029px) {
  #block2 {
    min-height: 800px;
  }
}
@media screen and (min-width: 351px) and (max-width: 689px) {
  #block2 {
    min-height: 1450px;
  }
}
@media screen and (max-width: 350px) {
  #block2 {
    min-height: 1450px;
  }
  #block2 .content .services .item_wrap .item {
    width: 100%;
  }
  #block2 .content .services .item_wrap .item .text {
    font-size: 0.85714286em;
  }
}
@media screen and (min-width: 1690px) {
  #block3 {
    min-height: 425px;
  }
}
@media screen and (min-width: 1031px) and (max-width: 1689px) {
  #block3 {
    min-height: 650px;
  }
}
@media screen and (min-width: 691px) and (max-width: 1030px) {
  #block3 {
    min-height: 900px;
  }
}
@media screen and (min-width: 351px) and (max-width: 690px) {
  #block3 {
    min-height: 1450px;
  }
}
@media screen and (max-width: 350px) {
  #block3 {
    min-height: 1450px;
  }
  #block3 .content .item {
    width: 80%;
  }
}
@media screen and (min-width: 970px) {
  #block4 {
    min-height: 270px;
  }
}
@media screen and (max-width: 969px) {
  #block4 {
    padding: 50px 0 30px;
  }
  #block4 .content .wrap ul li {
    font-size: 1em;
  }
  #block4 .content .wrap ul li:before {
    width: 14px;
    height: 13px;
  }
}
@media screen and (max-width: 460px) {
  #block5 .content .wrap span:nth-child(odd),
  #block5 .content .wrap span:nth-child(even) {
    display: block;
    width: auto;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  #block5 .content .wrap span:nth-child(odd) div:last-child {
    padding-top: 10px;
  }
  #block5 .content .wrap span:nth-child(even) img:first-child {
    display: none;
  }
  #block5 .content .wrap span:nth-child(even) img:last-child {
    position: relative;
    display: inline-block;
  }
}
@media screen and (min-width: 361px) and (max-width: 730px) {
  #block6 .content form .left_block,
  #block6 .content form .right_block {
    float: none;
    width: 340px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 360px) {
  #block6 .content form .left_block,
  #block6 .content form .right_block {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
}
